<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h2>Register</h2>
                        </div>
                    </div>
                    <!-- <form action="" method="post" name="login"> -->
                        <div *ngIf="err" class="alert alert-danger" role="alert">
                            {{ err }}
                         </div>
                         
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" [(ngModel)]="user.firstName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" [(ngModel)]="user.lastName" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" [(ngModel)]="user.email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" [(ngModel)]="user.password"  id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit" (click)="register()" class=" btn btn-block mybtn btn-primary tx-tfm">{{registerButtonLabel}}</button>
                        </div>
                        <div class="form-group mt-3">
                            <p class="text-center">Already have an account? <a href="#" routerLink="/public/auth/login" id="signup">Login here</a></p>
                        </div>
                        <!-- </form> -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>