<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1>🥳</h1>
            <p>Congratulations! You are ready to integrate. Follow the documentation to complete the integration.</p>
        </div>
    </div>

</div>

<div class="text-center">
    <!-- <button routerLink="/app/dashboard" class="btn btn-primary">Go to Dashboard</button> -->
    <a class="btn btn-primary" href="https://documenter.getpostman.com/view/19097591/UVXgMceP" target="_blank">View Documentation</a>
</div>

