<div class="container">
   <div class="row">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
         <div id="first">
            <div class="myform form ">
               <div class="logo mb-3">
                  <div class="col-md-12 text-center">
                     <h2>Login</h2>
                  </div>
               </div>
               <!-- <form action="" method="post" name="login"> -->
                  <div *ngIf="err" class="alert alert-danger" role="alert">
                     {{ err }}
                  </div>
                  
                  <div class="form-group">
                     <label for="email">Email address</label>
                     <input type="email"  (change)="resetError()" class="form-control" id="email" aria-describedby="emailHelp" [(ngModel)]="user.email" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                     <label for="password">Password</label>
                     <input type="password" id="password"  class="form-control" aria-describedby="emailHelp" [(ngModel)]="user.password" placeholder="Enter Password">
                  </div>
                  <div class="form-group">
                     <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                  </div>
                  <div class="col-md-12 text-center ">
                     <button type="submit" (click)="login()" class=" btn btn-block mybtn btn-primary tx-tfm" [disabled]="loginLabel != 'Login'">{{ loginLabel }}</button>
                  </div>
                  <div class="form-group mt-3">
                     <p class="text-center">Don't have account? <a href="#" routerLink="/public/auth/register" id="signup">Sign up here</a></p>
                  </div>
                  <!-- </form> -->
                  
               </div>
            </div>
         </div>
      </div>
   </div>