/* You can add global styles to this file, and also import other style files */

$primary: #08264b;
$success: #084B0F;
$dark: #020C17;
$danger: #8F1515;
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
